/* CSS Document By yokoafter90@gmail.com */

.release-con { width: 960px; margin: 0 auto; font-family: Microsoft YaHei; }
.release-con h2 { margin-bottom:20px; text-align: center;}
.release-con label { font-weight: normal; margin: 10px 0; }
.release-con .form-control { resize:none; }
.release-con .form-group { width: 500px; margin: 0 auto;}
.release-con .form-group .btn { float: right; margin-top: 10px; }
.release-con .form-group .release-cancel { float: right; margin-top: 10px; line-height: 34px; padding: 0 13px; margin-right: 10px; }






